<?xml version='1.0' encoding='utf-8'?>
<robot 
    name="GELLO_Assembly_URDF_V4">
    <link name="base_link">
        <inertial>
            <origin 
                xyz="0.012101145839417736 4.5485259978825654e-05 0.012837746339482453" 
                rpy="0.0 0.0 0.0" />
            <mass 
                value="0.1521" />
            <inertia 
                ixx="0.000787615441049584" 
                iyy="0.0026373975037422373" 
                izz="0.0030248527508061783" 
                ixy="2.843446005017187e-06" 
                iyz="-1.23281289165201e-07" 
                ixz="-0.0003208037873725998" />
        </inertial>
        <visual 
            name="base_link_visual">
            <origin 
                xyz="0.0 0.0 0.0" 
                rpy="0.0 0.0 0.0" />
            <geometry>
                <mesh 
                    filename="meshes/base_link.stl" 
                    scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
        <collision name="base_link_collision">
            <origin 
                xyz="0.0 0.0 0.0" 
                rpy="0.0 0.0 0.0" />
            <geometry>
                <mesh 
                    filename="meshes/base_link.stl" 
                    scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>
    <link name="link_1">
        <inertial>
            <origin 
                xyz="-0.013013992085734394 -2.9083198717770166e-09 0.037938028629702227" 
                rpy="0.0 -0.0 0.0" />
            <mass 
                value="0.01753" />
            <inertia 
                ixx="2.082359703239737e-05" 
                iyy="3.448540701715534e-05" 
                izz="2.4147887405375526e-05" 
                ixy="2.1787401641000033e-12" 
                iyz="2.850834935600783e-12" 
                ixz="5.385388631231556e-06" />
        </inertial>
        <visual 
            name="link_1_visual">
            <origin 
                xyz="0.0 -1.4901160552385793e-10 0.003000000000000016" 
                rpy="0.0 0.0 3.141592653589793" />
            <geometry>
                <mesh 
                    filename="meshes/link_1.stl" 
                    scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
        <collision 
            name="link_1_collision">
            <origin 
                xyz="0.0 -1.4901160552385793e-10 0.003000000000000016" 
                rpy="0.0 0.0 3.141592653589793" />
            <geometry>
                <mesh 
                    filename="meshes/link_1.stl" 
                    scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>
    <joint 
        name="base_link_joint_1" 
        type="revolute">
        <origin 
            xyz="0.04725 0.0 0.033" 
            rpy="0.0 -0.0 0.0" />
        <parent 
            link="base_link" />
        <child 
            link="link_1" />
        <axis 
            xyz="0.0 0.0 1.0" />
        <limit 
            lower="-3.14159" 
            upper="3.14159" 
            effort="1.0" 
            velocity="10" />
    </joint>
    <link name="link_2">
        <inertial>
            <origin 
                xyz="0.018566 0.000228 0.106619" 
                rpy="0.0 0.0 0.0" />
            <mass 
                value="0.2561" />
            <inertia 
                ixx="0.00268984" 
                ixy="-1.90105e-06" 
                ixz="2.46637e-04" 
                iyy="0.00289029" 
                iyz="-3.39134e-06" 
                izz="0.00029357" />
        </inertial>
        <visual 
            name="link_2_visual">
            <origin 
                xyz="0.0 0.0 0.0" 
                rpy="0.0 0.0 0.0" />
            <geometry>
                <mesh 
                    filename="meshes/link_2.stl" 
                    scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
        <collision 
            name="link_2_collision">
            <origin 
                xyz="0.0 0.0 0.0" 
                rpy="0.0 0.0 0.0" />
            <geometry>
                <mesh 
                    filename="meshes/link_2.stl" 
                    scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>
    <joint 
        name="link_2_joint_2" 
        type="revolute">
        <origin 
            xyz="-0.04109700000000001 8.93885791302459e-05 0.013141463219374261" 
            rpy="-3.141592653589793 -1.5707963267948966 0" />
        <parent 
            link="link_1" />
        <child 
            link="link_2" />
        <axis 
            xyz="0.0 -0.0 -1.0" />
        <limit 
            lower="-3.14159" 
            upper="3.14159" 
            effort="3.5" 
            velocity="10" />
    </joint>
    <link name="link_3">
        <inertial>
            <origin 
                xyz="0.03498 0.00004 0.09722" 
                rpy="0.0 -0.0 0.0" />
            <mass 
                value="0.1353" />
            <inertia 
                ixx="6.70e-04" 
                iyy="1.87e-03" 
                izz="1.24e-03" 
                ixy="-2.43e-07" 
                iyz="-1.74e-07" 
                ixz="4.88e-04" />
        </inertial>
        <visual 
            name="link_3_visual">
            <origin 
                xyz="-0.015499997823088344 -1.7002665094779935e-09 -0.0029875020980838093" 
                rpy="-3.141592653589793 -1.5707963267948515 0" />
            <geometry>
                <mesh 
                    filename="meshes/link_3.stl" 
                    scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
        <collision 
            name="link_3_collision">
            <origin 
                xyz="-0.015499997823088344 -1.7002665094779935e-09 -0.0029875020980838093" 
                rpy="-3.141592653589793 -1.5707963267948515 0" />
            <geometry>
                <mesh 
                    filename="meshes/link_3.stl" 
                    scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>
    <joint 
        name="link_2_joint_3" 
        type="revolute">
        <origin 
            xyz="-0.04109700000000001 -1.4208697541456816e-09 0.22629999321937447" 
            rpy="-3.141592653589793 -1.5707963267948966 0" />
        <parent 
            link="link_2" />
        <child 
            link="link_3" />
        <axis 
            xyz="0.0 -0.0 -1.0" />
        <limit 
            lower="-3.14159" 
            upper="3.14159" 
            effort="3.5" 
            velocity="10" />
    </joint>
    <link name="link_4">
        <inertial>
            <origin 
                xyz="-0.02792 0.00055 -0.00109" 
                    rpy="0.0 -0.0 0.0" />
            <mass 
                value="0.0412" />
            <inertia 
                ixx="1.74e-05" 
                iyy="3.46e-05" 
                izz="2.64e-05" 
                ixy="3.26e-07" 
                iyz="-5.98e-07" 
                ixz="1.12e-05" />
        </inertial>
        <visual 
            name="link_4_visual">
            <origin 
                xyz="2.2236167041000952e-09 1.0978169125673566e-09 -0.002999996757507506" 
                rpy="3.141592653589793 0.0 -3.141592653589793" />
            <geometry>
                <mesh 
                    filename="meshes/link_4.stl" 
                    scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
        <collision 
            name="link_4_collision">
            <origin 
                xyz="2.2236167041000952e-09 1.0978169125673566e-09 -0.002999996757507506" 
                rpy="3.141592653589793 0.0 -3.141592653589793" />
            <geometry>
                <mesh 
                    filename="meshes/link_4.stl" 
                    scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>
    <joint 
        name="link_3_joint_4" 
        type="revolute">
        <origin 
            xyz="0.19610000999999996 0.0 -0.025975" 
            rpy="3.141592653589793 0.0 -0.0" />
        <parent 
            link="link_3" />
        <child 
            link="link_4" />
        <axis 
            xyz="0.0 0.0 -1.0" />
        <limit 
            lower="-3.14159" 
            upper="3.14159" 
            effort="1.0" 
            velocity="10" />
    </joint>
    <link name="link_5">
        <inertial>
            <origin 
                xyz="-0.00091 -0.00014 -0.02400" 
                rpy="0.0 -0.0 0.0" />
            <mass 
                value="0.037" />
            <inertia 
                ixx="8.11e-05" 
                iyy="8.45e-05" 
                izz="1.25e-05" 
                ixy="6.60e-08" 
                iyz="3.94e-06" 
                ixz="6.76e-06" />
        </inertial>
        <visual 
            name="link_5_visual">
            <origin 
                xyz="-0.0029999977763846887 1.097816903963128e-09 2.512335690596501e-09" 
                rpy="0.0 1.5707963267948966 0" />
            <geometry>
                <mesh 
                    filename="meshes/link_5.stl" 
                    scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
        <collision 
            name="link_5_collision">
            <origin 
                xyz="-0.0029999977763846887 1.097816903963128e-09 2.512335690596501e-09" 
                rpy="0.0 1.5707963267948966 0" />
            <geometry>
                <mesh 
                    filename="meshes/link_5.stl" 
                    scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>
    <joint 
        name="link_4_joint_5" 
        type="revolute">
        <origin 
            xyz="-0.01239999999999995 0.0 -0.0425" 
            rpy="0.0 0.0 -0.0" />
        <parent 
            link="link_4" />
        <child 
            link="link_5" />
        <axis 
            xyz="-1.0 0.0 -0.0" />
        <limit 
            lower="-3.14159" 
            upper="3.14159" 
            effort="1.0" 
            velocity="10" />
    </joint>
    <link name="link_6_handle">
        <inertial>
            <origin 
                xyz="-0.02576 -0.00154 -0.01597" 
                rpy="0.0 -0.0 0.0" />
            <mass 
                value="0.0482" />
            <inertia 
                ixx="2.21e-05" 
                iyy="1.48e-04" 
                izz="1.43e-04" 
                ixy="-5.32e-06" 
                iyz="2.59e-06" 
                ixz="2.95e-05" />
        </inertial>
        <visual 
            name="link_6_handle_visual">
            <origin 
                xyz="-0.009999998074407372 -0.001999999244909985 -0.027499997681379087" 
                rpy="3.141592653589793 0.0 1.5707963267948968" />
            <geometry>
                <mesh 
                    filename="meshes/link_6_handle.stl" 
                    scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
        <collision 
            name="link_6_handle_collision">
            <origin 
                xyz="-0.009999998074407372 -0.001999999244909985 -0.027499997681379087" 
                rpy="3.141592653589793 0.0 1.5707963267948968" />
            <geometry>
                <mesh 
                    filename="meshes/link_6_handle.stl" 
                    scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>
    <joint 
        name="link_5_joint_6" 
        type="revolute">
        <origin 
            xyz="-0.035500000000000045 0.0 -0.012000000000000002" 
            rpy="0.0 -0.0 0.0" />
        <parent 
            link="link_5" />
        <child 
            link="link_6_handle" />
        <axis 
            xyz="-0.0 -0.0 -1.0" />
        <limit 
            lower="-3.14159" 
            upper="3.14159" 
            effort="1.0" 
            velocity="10" />
    </joint>
</robot>